h1 {
    color: rgba(255, 0, 0, 0.5);
}

h2 {
    color: rgba(255, 165, 0, 0.5);
}

h3 {
    color: rgba(255, 255, 0, 0.5);
}

h4 {
    color: rgba(0, 255, 0, 0.5);
}

h5 {
    color: rgb(0, 0, 255, 0.5);
}

h6 {
    color: rgba(75, 0, 130, 0.5);
}

p {
    color: #4b0082;
}